n8n/praxis_finance_workflow.json
{
  "name": "praxis_finance_workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "asaas-webhook",
        "options": {}
      },
      "id": "dfc84266-789f-4049-8740-548424c9782d",
      "name": "Webhook — Asaas Events",
      "position": [
        -1504,
        432
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "1f14605a-2ea1-4b65-85de-f3a09c25bb60"
    },
    {
      "parameters": {
        "url": "=https://sandbox.asaas.com/api/v3/customers/{{ $json.body.customer || $json.body.payment.customer }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "7fa48a65-7eab-4078-986d-22d4e99f2d11",
      "name": "Asaas — Buscar Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1312,
        432
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Webhook — Asaas Events').item.json.body.event }}",
              "operation": "contains",
              "value2": "PAYMENT_"
            }
          ]
        }
      },
      "id": "4ea46f41-12c2-44fc-829d-369694405d12",
      "name": "Filtrar Eventos de Pagamento",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1120,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/rpc/handle_asaas_webhook",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhtZmRydHJ3cHltZ2t2YWVleXlxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjI1NTMxMywiZXhwIjoyMDg3ODMxMzEzfQ.sqIZZjxQe5ohSUbxTf8vZc6efB_ohVewYZn2PU6Qz3Q"
            },
            {
              "name": "Authorization",
              "value": "Bearer eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InhtZmRydHJ3cHltZ2t2YWVleXlxIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjI1NTMxMywiZXhwIjoyMDg3ODMxMzEzfQ.sqIZZjxQe5ohSUbxTf8vZc6efB_ohVewYZn2PU6Qz3Q"
            }
          ]
        },
        "options": {}
      },
      "id": "73894bef-e646-4bc5-a0d2-70ca88408e64",
      "name": "Atualizar Status no Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -896,
        352
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.event }}",
              "value2": "PAYMENT_OVERDUE"
            }
          ]
        }
      },
      "id": "90d45176-70f5-4999-8612-fe95f73c2589",
      "name": "É OVERDUE?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -688,
        352
      ]
    },
    {
      "parameters": {
        "url": "=https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/financial_payments?asaas_id=eq.{{ $('Webhook — Asaas Events').item.json.body.payment.id }}&select=client_name,description,value,due_date,payment_link,clients(email,phone)",
        "options": {}
      },
      "id": "619540df-cb99-474e-9a18-e27ba4393dad",
      "name": "Buscar Dados do Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -480,
        432
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "bfd9c2b5-e2ba-42a6-b97c-49d209dc8586",
                    "leftValue": "={{ $('Webhook — Asaas Events').item.json.body.event }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "PAYMENT_OVERDUE"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              },
              "renameOutput": true,
              "outputKey": "Overdue"
            },
            {
              "conditions": {
                "conditions": [
                  {
                    "id": "68e426cf-5151-4ad3-a3eb-5946eb5f9f7a",
                    "leftValue": "={{ $('Webhook — Asaas Events').item.json.body.event }}",
                    "operator": {
                      "operation": "equals",
                      "type": "string"
                    },
                    "rightValue": "PAYMENT_CREATED"
                  }
                ],
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                }
              },
              "renameOutput": true,
              "outputKey": "Created"
            }
          ]
        },
        "options": {}
      },
      "id": "cd94ff29-3983-4ccd-8514-4b1f1b4afeed",
      "name": "Switch de Eventos",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        -256,
        432
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nuvai-evolution-api.xyulh3.easypanel.host/message/sendText/Comercial",
        "options": {}
      },
      "id": "3b208032-83c0-4773-80c5-d06225a4858a",
      "name": "WhatsApp Cliente (Created)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        560
      ]
    },
    {
      "parameters": {
        "fromEmail": "comercial@praxisgrowth.com.br",
        "toEmail": "={{ $('Asaas — Buscar Cliente').item.json.email }}",
        "subject": "Fatura Gerada - Praxis Growth",
        "options": {}
      },
      "id": "a508ae87-9a98-4025-bb43-65c3fb0a4e88",
      "name": "Email Cliente (Created)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        704
      ],
      "webhookId": "296a844e-f093-46b2-89aa-16c53d67f3d9",
      "credentials": {
        "smtp": {
          "id": "hxu08ho46b0HXRsD",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \\\"ok\\\": true }",
        "options": {}
      },
      "id": "d7b1d7b9-24cc-4454-8301-83c7c6b0c44e",
      "name": "Resposta Webhook (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        -688,
        576
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nuvai-evolution-api.xyulh3.easypanel.host/message/sendText/Comercial",
        "options": {}
      },
      "id": "7df0fc68-4a09-42a9-b393-6338eeeb11c4",
      "name": "WhatsApp Cliente (Overdue)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        0,
        160
      ]
    },
    {
      "parameters": {
        "fromEmail": "comercial@praxisgrowth.com.br",
        "toEmail": "={{ $('Asaas — Buscar Cliente').item.json.email }}",
        "subject": "⚠️ Aviso de Atraso - Praxis Growth",
        "options": {}
      },
      "id": "a8192d9e-4e0d-4770-857d-6221f9a1a696",
      "name": "Email Cliente (Overdue)",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "webhookId": "24f5606a-752b-4b16-8c2c-07fc13e820e8",
      "credentials": {
        "smtp": {
          "id": "hxu08ho46b0HXRsD",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return [\\n  { json: { phone: \\\"5547984840488\\\", data: $input.item.json } },\\n  { json: { phone: \\\"5547996358304\\\", data: $input.item.json } }\\n];"
      },
      "id": "c6205140-d751-4918-b870-280ae7c87530",
      "name": "Lista de Administradores",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        352
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://nuvai-evolution-api.xyulh3.easypanel.host/message/sendText/Comercial",
        "options": {}
      },
      "id": "e99f79da-a3a7-4252-bdb7-431291e7cc2c",
      "name": "Notificar WhatsApp (Adm Overdue)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        240,
        352
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance/resend",
        "options": {}
      },
      "id": "0633f513-70e6-4abd-9d51-9e969bd85e6f",
      "name": "Webhook — Reenviar Notificação",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        432,
        1360
      ],
      "webhookId": "cf2daed7-8fd3-46a3-92e5-0657d2e1ef96"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sandbox.asaas.com/api/v3/payments/{{ $json.body.asaas_id }}/resendPaymentNotification",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "f06736ea-5483-4f11-92c9-568dfb2c68eb",
      "name": "Asaas — Reenviar Notificação",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        656,
        1360
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \\\"ok\\\": true, \\\"action\\\": \\\"notification_resent\\\" }",
        "options": {}
      },
      "id": "88c699f0-74b8-4112-b5c7-8dd6c3fa976b",
      "name": "Resposta Reenviar (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        880,
        1360
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance/postpone",
        "options": {}
      },
      "id": "480d86e9-f74c-4329-9d65-aa7cd5d743ec",
      "name": "Webhook — Editar Vencimento",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        432,
        1168
      ],
      "webhookId": "25dad1ee-cd22-422c-acf3-14de93207d54"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sandbox.asaas.com/api/v3/payments/{{ $json.body.asaas_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "options": {}
      },
      "id": "8a1adf0a-9fce-449c-8e2a-4bd56d90419b",
      "name": "Asaas — Editar Vencimento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        656,
        1168
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/financial_payments?asaas_id=eq.{{ $('Webhook — Editar Vencimento').item.json.body.asaas_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "options": {}
      },
      "id": "4486e666-b9eb-4120-bf27-ccdf8d146565",
      "name": "Supabase — Atualizar due_date",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        1168
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \\\"ok\\\": true, \\\"action\\\": \\\"postponed\\\" }",
        "options": {}
      },
      "id": "15a28850-543d-413d-86c1-a784d8dcd2c3",
      "name": "Resposta Editar Vencimento (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1104,
        1168
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance/refund",
        "options": {}
      },
      "id": "627438cc-85c5-4431-85bd-553ece4a8d6d",
      "name": "Webhook — Estornar Cobrança",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        432,
        960
      ],
      "webhookId": "2fa26991-87b7-434d-8bd2-2eb51080213d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://sandbox.asaas.com/api/v3/payments/{{ $json.body.asaas_id }}/refund",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "1dad578f-e311-4431-8cc2-6c265b73810f",
      "name": "Asaas — Estornar Pagamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        656,
        960
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/financial_payments?asaas_id=eq.{{ $('Webhook — Estornar Cobrança').item.json.body.asaas_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "options": {}
      },
      "id": "3cb0cd0a-6407-4d08-8dbb-e2a3cd8d47c8",
      "name": "Supabase — Atualizar REFUNDED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        960
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \\\"ok\\\": true, \\\"action\\\": \\\"refunded\\\" }",
        "options": {}
      },
      "id": "4b7a0acb-fae1-42df-a532-c115e99670d3",
      "name": "Resposta Estornar (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1104,
        960
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "finance/cancel",
        "options": {}
      },
      "id": "1aae8247-1921-4fdf-94c8-eb9190c2b6ee",
      "name": "Webhook — Cancelar Cobrança",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        432,
        768
      ],
      "webhookId": "e3103833-c5de-4d2f-a6b8-3a354763acfa"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://sandbox.asaas.com/api/v3/payments/{{ $json.body.asaas_id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "d0ac94ff-2f62-4efc-a968-6e2b8e6e5d1b",
      "name": "Asaas — Cancelar Pagamento",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        656,
        768
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/financial_payments?asaas_id=eq.{{ $('Webhook — Cancelar Cobrança').item.json.body.asaas_id }}",
        "sendBody": true,
        "specifyBody": "json",
        "options": {}
      },
      "id": "fb706bd8-cb11-4a46-babb-0ad9c01a0847",
      "name": "Supabase — Atualizar CANCELLED",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        768
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \\\"ok\\\": true, \\\"action\\\": \\\"cancelled\\\" }",
        "options": {}
      },
      "id": "354a2d62-ffbb-485f-b38a-f9ae906f9994",
      "name": "Resposta Cancelar (200 OK)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1104,
        768
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "id": "52d0b9ac-6257-4971-a586-45693c64f47e",
      "name": "Cron — Buscar Novos",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        1168
      ],
      "disabled": true
    },
    {
      "parameters": {
        "url": "https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/financial_payments?asaas_id=is.null&select=*,clients(asaas_id,name,email,phone,cpf_cnpj)",
        "options": {}
      },
      "id": "fcbf2ff1-8268-4c7d-a3e9-7af2ac359e72",
      "name": "Supabase — Listar Novos Pagamentos",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1264,
        1168
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.clients?.asaas_id ?? '' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "d53f61b8-f1db-4b38-bdc6-ac8584779462",
      "name": "Verificar Customer ID (Pay)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1088,
        1168
      ],
      "notes": "Se o cliente já tem asaas_id, cria cobrança direto. Se não tem, cria o cliente no Asaas primeiro."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sandbox.asaas.com/api/v3/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "bb86a97b-5e69-4b38-a509-9282b8f63d85",
      "name": "Asaas — Criar Cobrança (Out) TESTE",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -864,
        1168
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/financial_payments?id=eq.{{ $('Supabase — Listar Novos Pagamentos').item.json.id }}",
        "options": {}
      },
      "id": "d3491fe6-84b8-488a-ba58-b4641c23271c",
      "name": "Supabase — Atualizar Payment (Out)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -656,
        1168
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sandbox.asaas.com/api/v3/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "8a0a1ef7-60ea-4905-ad13-30278d2a0c18",
      "name": "Asaas — Criar Cliente (Pay Auto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1248,
        1600
      ],
      "notes": "Cria o cliente no Asaas quando asaas_id está ausente. Retorna cus_xxx."
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/clients?id=eq.{{ $('Supabase — Listar Novos Pagamentos').item.json.client_id }}",
        "options": {}
      },
      "id": "0764615f-df5e-4b85-80f3-70ee5fe6c15c",
      "name": "Supabase — Salvar Customer ID (Pay)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1056,
        1600
      ],
      "notes": "Persiste o cus_xxx no Supabase para cobranças futuras não precisarem criar novamente."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sandbox.asaas.com/api/v3/payments",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "8402de76-dc92-427a-9c03-dd3696a9b3bd",
      "name": "Asaas — Criar Cobrança (Novo Cliente)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -848,
        1600
      ],
      "notes": "Cria cobrança usando o cus_xxx recém-criado."
    },
    {
      "parameters": {
        "url": "https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/financial_subscriptions?asaas_id=is.null&select=*,clients(asaas_id,name,email,phone,cpf_cnpj)",
        "options": {}
      },
      "id": "00397a2d-c1da-4340-a0ad-a0615a13ccc5",
      "name": "Supabase — Listar Novas Assinaturas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1264,
        1360
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.clients?.asaas_id ?? '' }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "f3e1d160-8014-466a-8b29-a9b1cedd7720",
      "name": "Verificar Customer ID (Sub)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1088,
        1376
      ],
      "notes": "Mesmo check para assinaturas."
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sandbox.asaas.com/api/v3/subscriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "bea4a293-d0e1-4855-b7d6-004b3c4dae63",
      "name": "Asaas — Criar Assinatura (Out)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -864,
        1360
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/financial_subscriptions?id=eq.{{ $('Supabase — Listar Novas Assinaturas').item.json.id }}",
        "options": {}
      },
      "id": "0faadb35-378a-4081-9104-50c54da52fd3",
      "name": "Supabase — Atualizar Assinatura (Out)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -656,
        1360
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sandbox.asaas.com/api/v3/customers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "832bad55-7f56-4bf3-9fda-cffa47227729",
      "name": "Asaas — Criar Cliente (Sub Auto)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1248,
        1808
      ]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/clients?id=eq.{{ $('Supabase — Listar Novas Assinaturas').item.json.client_id }}",
        "options": {}
      },
      "id": "88c8b5c5-1b3d-4f2b-98b0-5815fec7cca4",
      "name": "Supabase — Salvar Customer ID (Sub)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1056,
        1808
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sandbox.asaas.com/api/v3/subscriptions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "$aact_hmlg_000MzkwODA2MWY2OGM3MWRlMDU2NWM3MzJlNzZmNGZhZGY6OmQzMmJhZTc0LWFkODctNDAyMi1iM2MxLTRkNGVmOGI2NjRkNDo6JGFhY2hfNWMyMDMyYzUtOTA1ZS00ZmJlLWI0OWYtYTM5MjMwMjI5OTVk"
            }
          ]
        },
        "options": {}
      },
      "id": "43ae25d2-5e26-4c18-b4ad-016186ed0d9a",
      "name": "Asaas — Criar Assinatura (Novo Cliente)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -848,
        1808
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "2ed7e87c-b70d-4865-8ab3-d148b2023e7b",
      "name": "Cron Diário — 08:00",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1472,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xmfdrtrwpymgkvaeeyyq.supabase.co/functions/v1/asaas-integration",
        "options": {}
      },
      "id": "6713b834-1acf-45f7-be3d-9edb2612a98a",
      "name": "Sync Pagamentos Asaas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1248,
        960
      ]
    },
    {
      "parameters": {
        "url": "https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/financial_payments?status=in.(PENDING,OVERDUE)&select=asaas_id,status,client_name,due_date",
        "options": {}
      },
      "id": "0d2a32d1-bcfc-47d4-a2c0-452c850ed265",
      "name": "Buscar Pendentes no CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -1024,
        960
      ]
    },
    {
      "parameters": {
        "jsCode": "const asaasPayments = $(\\\"Sync Pagamentos Asaas\\\").item.json.payments ?? [];\\nconst crmPayments   = $(\\\"Buscar Pendentes no CRM\\\").all().map(i => i.json);\\n\\nconst asaasMap = {};\\nfor (const p of asaasPayments) {\\n  asaasMap[p.id] = p.status;\\n}\\n\\nconst divergentes = [];\\nfor (const crm of crmPayments) {\\n  const asaasStatus = asaasMap[crm.asaas_id];\\n  if (asaasStatus && asaasStatus !== crm.status) {\\n    divergentes.push({\\n      asaas_id:    crm.asaas_id,\\n      crm_status:  crm.status,\\n      asaas_status: asaasStatus,\\n      client_name:  crm.client_name,\\n      due_date:     crm.due_date,\\n    });\\n  }\\n}\\n\\nreturn divergentes.map(d => ({ json: d }));"
      },
      "id": "39eba05a-26ee-4761-8c02-7d01b6493d4a",
      "name": "Detectar Divergências",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -816,
        960
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://xmfdrtrwpymgkvaeeyyq.supabase.co/rest/v1/rpc/handle_asaas_webhook",
        "options": {}
      },
      "id": "ae67c771-493b-4870-9a0b-0bf661068286",
      "name": "Reconciliar Status no CRM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -576,
        960
      ]
    },
    {
      "parameters": {
        "path": "finance/create-charge",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-create-charge",
      "name": "Webhook — Create Charge",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1480,
        1580
      ]
    },
    {
      "parameters": {
        "path": "finance/create-subscription",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-create-subscription",
      "name": "Webhook — Create Subscription",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1480,
        1780
      ]
    },
    {
      "parameters": {
        "path": "finance/duplicate",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-duplicate",
      "name": "Webhook — 2ª Via (Duplicate)",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        420,
        1560
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook — Asaas Events": {
      "main": [
        [
          {
            "node": "Asaas — Buscar Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Buscar Cliente": {
      "main": [
        [
          {
            "node": "Filtrar Eventos de Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtrar Eventos de Pagamento": {
      "main": [
        [
          {
            "node": "Atualizar Status no Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Atualizar Status no Supabase": {
      "main": [
        [
          {
            "node": "É OVERDUE?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "É OVERDUE?": {
      "main": [
        [
          {
            "node": "Buscar Dados do Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Dados do Cliente": {
      "main": [
        [
          {
            "node": "Switch de Eventos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch de Eventos": {
      "main": [
        [
          {
            "node": "WhatsApp Cliente (Overdue)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Cliente (Overdue)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Lista de Administradores",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "WhatsApp Cliente (Created)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Email Cliente (Created)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Cliente (Created)": {
      "main": [
        [
          {
            "node": "Resposta Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Cliente (Created)": {
      "main": [
        [
          {
            "node": "Resposta Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lista de Administradores": {
      "main": [
        [
          {
            "node": "Notificar WhatsApp (Adm Overdue)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "WhatsApp Cliente (Overdue)": {
      "main": [
        [
          {
            "node": "Resposta Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Email Cliente (Overdue)": {
      "main": [
        [
          {
            "node": "Resposta Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notificar WhatsApp (Adm Overdue)": {
      "main": [
        [
          {
            "node": "Resposta Webhook (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Reenviar Notificação": {
      "main": [
        [
          {
            "node": "Asaas — Reenviar Notificação",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Reenviar Notificação": {
      "main": [
        [
          {
            "node": "Resposta Reenviar (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Editar Vencimento": {
      "main": [
        [
          {
            "node": "Asaas — Editar Vencimento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Editar Vencimento": {
      "main": [
        [
          {
            "node": "Supabase — Atualizar due_date",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Atualizar due_date": {
      "main": [
        [
          {
            "node": "Resposta Editar Vencimento (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Estornar Cobrança": {
      "main": [
        [
          {
            "node": "Asaas — Estornar Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Estornar Pagamento": {
      "main": [
        [
          {
            "node": "Supabase — Atualizar REFUNDED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Atualizar REFUNDED": {
      "main": [
        [
          {
            "node": "Resposta Estornar (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Cancelar Cobrança": {
      "main": [
        [
          {
            "node": "Asaas — Cancelar Pagamento",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Cancelar Pagamento": {
      "main": [
        [
          {
            "node": "Supabase — Atualizar CANCELLED",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Atualizar CANCELLED": {
      "main": [
        [
          {
            "node": "Resposta Cancelar (200 OK)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron — Buscar Novos": {
      "main": [
        [
          {
            "node": "Supabase — Listar Novos Pagamentos",
            "type": "main",
            "index": 0
          },
          {
            "node": "Supabase — Listar Novas Assinaturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Listar Novos Pagamentos": {
      "main": [
        [
          {
            "node": "Verificar Customer ID (Pay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Customer ID (Pay)": {
      "main": [
        [
          {
            "node": "Asaas — Criar Cobrança (Out) TESTE",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asaas — Criar Cliente (Pay Auto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Criar Cobrança (Out) TESTE": {
      "main": [
        [
          {
            "node": "Supabase — Atualizar Payment (Out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Criar Cliente (Pay Auto)": {
      "main": [
        [
          {
            "node": "Supabase — Salvar Customer ID (Pay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Salvar Customer ID (Pay)": {
      "main": [
        [
          {
            "node": "Asaas — Criar Cobrança (Novo Cliente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Criar Cobrança (Novo Cliente)": {
      "main": [
        [
          {
            "node": "Supabase — Atualizar Payment (Out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Listar Novas Assinaturas": {
      "main": [
        [
          {
            "node": "Verificar Customer ID (Sub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verificar Customer ID (Sub)": {
      "main": [
        [
          {
            "node": "Asaas — Criar Assinatura (Out)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Asaas — Criar Cliente (Sub Auto)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Criar Assinatura (Out)": {
      "main": [
        [
          {
            "node": "Supabase — Atualizar Assinatura (Out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Criar Cliente (Sub Auto)": {
      "main": [
        [
          {
            "node": "Supabase — Salvar Customer ID (Sub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase — Salvar Customer ID (Sub)": {
      "main": [
        [
          {
            "node": "Asaas — Criar Assinatura (Novo Cliente)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Asaas — Criar Assinatura (Novo Cliente)": {
      "main": [
        [
          {
            "node": "Supabase — Atualizar Assinatura (Out)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cron Diário — 08:00": {
      "main": [
        [
          {
            "node": "Sync Pagamentos Asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync Pagamentos Asaas": {
      "main": [
        [
          {
            "node": "Buscar Pendentes no CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Pendentes no CRM": {
      "main": [
        [
          {
            "node": "Detectar Divergências",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detectar Divergências": {
      "main": [
        [
          {
            "node": "Reconciliar Status no CRM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Create Charge": {
      "main": [
        [
          {
            "node": "Verificar Customer ID (Pay)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — Create Subscription": {
      "main": [
        [
          {
            "node": "Verificar Customer ID (Sub)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook — 2ª Via (Duplicate)": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "8f544151-a610-4376-8082-86747fb4bb77",
  "meta": {
    "instanceId": "23f58ff2142c214b02439c33d1462a3044d0d81c25557a1db16e0a739b97498e"
  },
  "id": "k3Ii4osUae4lACew",
  "tags": []
}